.promo {
  background-color: #dddee3;
  padding: 0;
  margin: 0;
  min-height: 589px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  padding: 190px 0 200px 0;
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  max-width: 730px;

  width: 100%;
  display: flex;
  background-image: url('../../images/logo-practicum.svg');
  background-repeat: no-repeat;
  background-position: center 82px;
  height: 100px;
  align-items: center;
  letter-spacing: -0.04em;

}

@media screen and (max-width: 768px) {
  .promo__title {
    padding: 334px 0 350px 0;
    background-position: center 224px;
  }
}


@media screen and (max-width: 767px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    padding: 215px 0 255px 0;
    background-position: center 142px;
    background-size: 248px;
  }
}
