.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 16px 70px;
  margin: 0;
  background-color: #fafafa;
  height: 44px;
}

.header_type_main {
  background-color: #dddee3;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 15px 14px;
  }
}
